<div class="page-footer">
    <div class="articles-socials">
    <ul class="socials">
    <li class="socials-item">
    <a href="#0" class="social-link-twitter"></a>
    </li>
    <li class="socials-item">
    <a href="#0" class="social-link-pinterest"></a>
    </li>
    <li class="socials-item">
    <a href="#0" class="social-link-facebook"></a>
    </li>
    <li class="socials-item">
    <a href="#0" class="social-link-instagram"></a>
    </li>
    <li class="socials-item">
    <a href="#0" class="social-link-tumblr"></a>
    </li>
    </ul>
    </div>
    </div>
    <span class="copyright"> Life © 2020-2021 Magnet Blog LLC.</span>
    </div>
    </body>
    </html>