<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/home.css">
<title>blog</title>
</head>
<body>

<header class="hero">
<div class="flex-container">
<a href="#0" class="header-logo"><img src="" alt=""></a>


<div class="different-section">
    <div class="right-side-content">
    <section class="all-items-list">
    <ul class="items-list">
    <li><a href="#0" class="list-item">Гоёл<span class="number">12</span></a></li>
    <li><a href="#0" class="list-item">Эрүүл мэнд<span class="number">4</span></a></li>
    <li><a href="#0" class="list-item">Амьдралын хэв маяг<span class="number">145</span></a></li>
    <li><a href="#0" class="list-item">Хөгжим<span class="number">28</span></a></li>
    <li><a href="#0" class="list-item">Спорт<span class="number">62</span></a></li>
    <li><a href="#0" class="list-item">Йог<span class="number">8</span></a></li>
    </ul>
    </section>
    </div>
    </div>

<nav class="menu-list">
<ul>
<li><a href="/" class="menu-list-item">Мэдээ</a></li>
<li><a href="#0" class="menu-list-item">Боловсрол</a></li>
<li><a href="#0" class="menu-list-item">Энтертайнмент</a></li>
<li><a href="#0" class="menu-list-item">Зөвөлгөө</a></li>
<li><a href="/login" class="menu-list-item">Нэвтрэх</a> </li>
<li><a href="/about" class="menu-list-item">About</a></li>
</ul>
</nav>

<div class="form-row-glass">
    <input type="text" class="field" placeholder="Хайлт...">
    <div class="img-find"></div>
    </div>


<div class="flex-aside">
    <aside class="right-side-block">
    <div class="different-sections">
    
    <div class="different-section">
    <h3 class="right-news-titles">Онцлог мэдээ</h3>
    <div class="right-side-content">
    <section class="right-last-news">
    
    <article class="right-news">
    <div class="one-right-photo">
    <img src="https://i.pinimg.com/originals/e0/59/d5/e059d5330ec9ff6eb8b59a46e85fe7e9.gif" height="80px" width="80px" class="right-side-photo" alt="человек идёт вдоль моря">
    </div>
    <div class="side-info">
    <time class="news-time" datetime="2019-06-14">14 5сар 2021</time>
    <div class="name-author">😍985    🤣22    😡1      😥12</div>
    <a href="#0">
    <h3 class="right-news-title">Хамгийн олон хэлээр ярьж чаддаг арван алдартан
    </h3>
    </a>
    </div>
    
    </article>
    
    <article class="right-news">
    <div class="one-right-photo">
    <img src="https://i.pinimg.com/originals/9a/ac/87/9aac874413b11649cbdb87025eff4b7f.gif" class="right-side-photo" height="80px" width="80ox" alt="девушка-йога">
    </div>
    <div class="side-info">
    <time class="news-time" datetime="2019-06-14">14 3сар 2021</time>
    <div class="name-author">😍641    🤣145    😡4      😥147</div>
    <a href="#0">
    <h3 class="right-news-title">Тест: Сэтгэл гутралд орсон эсэхээ мэдэх нь </h3>
    </a>
    </div>
    
    </article>
    
    <article class="right-news">
    <div class="one-right-photo">
    <img src="https://media.tenor.com/images/ec35b203356afa14fac00e373bf1eeae/tenor.gif" height="80px"  width="80px" class="right-side-photo" alt="дизайн балкона">
    </div>
    <div class="side-info">
    <time class="news-time" datetime="2019-06-14">20 3сар 2021</time>
    <div class="name-author">😍585    🤣185    😡11      😥89</div>
    <a href="#0">
    <h3 class="right-news-title">Justin Bieber: Намайг амьд байгаа эсэхийг шалгадаг байсан</h3>
    </a>
    </div>
    
    </article>
    
    <article class="right-news">
    <div class="one-right-photo">
    <img src="https://media.itsnicethat.com/original_images/58ef90df7fa44cbd03000040.gif" height="80px" width="80px" class="right-side-photo" alt="наука в кулинарии">
    </div>
    <div class="side-info">
    <time class="news-time" datetime="2019-06-14">25 3сар 2021</time>
    <div class="name-author">😍650    🤣60    😡8      😥10</div>
    <a href="#0">
    <h3 class="right-news-title">СӨРӨГ бодлуудаасаа САЛАХ аргууд</h3>
    </a>
    </div>
    
    </article>
    
    <article class="right-news">
    <div class="one-right-photo">
    <img src="https://cdn.dribbble.com/users/1627079/screenshots/6758143/bad_girl.gif" height="80px" width="80px" class="right-side-photo" alt="женские причёски">
    </div>
    <div class="side-info">
    <time class="news-time" datetime="2019-06-14">1 4сар 2021</time>
    <div class="name-author">😍856    🤣56    😡5      😥 2</div>
    <a href="#0">
    <h3 class="right-news-title">"Буруу" алхдаг хүний таван шинжийг нэрлэжээ</h3>
    </a>
    </div>
    
    
    </article>
    
    </section>
    </div>
    
    </div>
    </div>
    </aside>
    </div>


        
    
</div>
<div class="main-title">
<h1 class="info-title"></h1>
</div>
</header>
