<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/image.css">
<title>Document</title>
</head>
<body>

<div id="app"></div>
<li><a href="Image" class="menu-list-item">Image</a></li>
<a href="https://dribbble.com/shots/3774469-T-R-A-V-E-L-E-R" target="_blank" class="icon-link">
<img src="http://icons.iconarchive.com/icons/uiconstock/socialmedia/256/Dribbble-icon.png">
</a>
<a href="https://twitter.com/NikolayTalanov" target="_blank" class="icon-link icon-link--twitter">
<img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/twitter-128.png">
</a>

<script>
class CitiesSlider extends React.Component {
constructor(props) {
super(props);

this.IMAGE_PARTS = 4;

this.changeTO = null;
this.AUTOCHANGE_TIME = 4000;

this.state = { activeSlide: -1, prevSlide: -1, sliderReady: false };
}

componentWillUnmount() {
window.clearTimeout(this.changeTO);
}

componentDidMount() {
this.runAutochangeTO();
setTimeout(() => {
this.setState({ activeSlide: 0, sliderReady: true });
}, 0);
}

runAutochangeTO() {
this.changeTO = setTimeout(() => {
this.changeSlides(1);
this.runAutochangeTO();
}, this.AUTOCHANGE_TIME);
}

changeSlides(change) {
window.clearTimeout(this.changeTO);
const { length } = this.props.slides;
const prevSlide = this.state.activeSlide;
let activeSlide = prevSlide + change;
if (activeSlide < 0) activeSlide = length - 1;
if (activeSlide >= length) activeSlide = 0;
this.setState({ activeSlide, prevSlide });
}

render() {
const { activeSlide, prevSlide, sliderReady } = this.state;
return /*#__PURE__*/(
React.createElement("div", { className: classNames('slider', { 's--ready': sliderReady }) }, /*#__PURE__*/
React.createElement("p", { className: "slider__top-heading" }, "Travelers"), /*#__PURE__*/
React.createElement("div", { className: "slider__slides" },
this.props.slides.map((slide, index) => /*#__PURE__*/
React.createElement("div", {
className: classNames('slider__slide', { 's--active': activeSlide === index, 's--prev': prevSlide === index }),
key: slide.city }, /*#__PURE__*/

React.createElement("div", { className: "slider__slide-content" }, /*#__PURE__*/
React.createElement("h3", { className: "slider__slide-subheading" }, slide.country || slide.city), /*#__PURE__*/
React.createElement("h2", { className: "slider__slide-heading" },
slide.city.split('').map(l => /*#__PURE__*/React.createElement("span", null, l))), /*#__PURE__*/

React.createElement("p", { className: "slider__slide-readmore" }, "read more")), /*#__PURE__*/

React.createElement("div", { className: "slider__slide-parts" },
[...Array(this.IMAGE_PARTS).fill()].map((x, i) => /*#__PURE__*/
React.createElement("div", { className: "slider__slide-part", key: i }, /*#__PURE__*/
React.createElement("div", { className: "slider__slide-part-inner", style: { backgroundImage: `url(${slide.img})` } }))))))), /*#__PURE__*/






React.createElement("div", { className: "slider__control", onClick: () => this.changeSlides(-1) }), /*#__PURE__*/
React.createElement("div", { className: "slider__control slider__control--right", onClick: () => this.changeSlides(1) })));


}}


const slides = [
{
city: 'Paris',
country: 'France',
img: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/paris.jpg' },

{
city: 'Singapore',
img: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/singapore.jpg' },

{
city: 'Prague',
country: 'Czech Republic',
img: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/prague.jpg' },

{
city: 'Amsterdam',
country: 'Netherlands',
img: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/amsterdam.jpg' },

{
city: 'Moscow',
country: 'Russia',
img: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/moscow.jpg' }];



ReactDOM.render( /*#__PURE__*/React.createElement(CitiesSlider, { slides: slides }), document.querySelector('#app'));
</script>
</body>
</html>